
packages/MaterialDesignColors.1.2.6/.signature.p7s
packages/MaterialDesignColors.1.2.6/images/MaterialDesignColors.Icon.png
packages/MaterialDesignColors.1.2.6/lib/net45/MaterialDesignColors.dll
packages/MaterialDesignColors.1.2.6/lib/net45/MaterialDesignColors.pdb
packages/MaterialDesignColors.1.2.6/lib/netcoreapp3.1/MaterialDesignColors.dll
packages/MaterialDesignColors.1.2.6/lib/netcoreapp3.1/MaterialDesignColors.pdb
packages/MaterialDesignColors.1.2.6/MaterialDesignColors.1.2.6.nupkg
packages/MaterialDesignThemes.3.1.3/.signature.p7s
packages/MaterialDesignThemes.3.1.3/build/MaterialDesignThemes.targets
packages/MaterialDesignThemes.3.1.3/build/Resources/Roboto/Roboto-Black.ttf
packages/MaterialDesignThemes.3.1.3/build/Resources/Roboto/Roboto-BlackItalic.ttf
packages/MaterialDesignThemes.3.1.3/build/Resources/Roboto/Roboto-Bold.ttf
packages/MaterialDesignThemes.3.1.3/build/Resources/Roboto/Roboto-BoldItalic.ttf
packages/MaterialDesignThemes.3.1.3/build/Resources/Roboto/Roboto-Italic.ttf
packages/MaterialDesignThemes.3.1.3/build/Resources/Roboto/Roboto-Light.ttf
packages/MaterialDesignThemes.3.1.3/build/Resources/Roboto/Roboto-LightItalic.ttf
packages/MaterialDesignThemes.3.1.3/build/Resources/Roboto/Roboto-Medium.ttf
packages/MaterialDesignThemes.3.1.3/build/Resources/Roboto/Roboto-MediumItalic.ttf
packages/MaterialDesignThemes.3.1.3/build/Resources/Roboto/Roboto-Regular.ttf
packages/MaterialDesignThemes.3.1.3/build/Resources/Roboto/Roboto-Thin.ttf
packages/MaterialDesignThemes.3.1.3/build/Resources/Roboto/Roboto-ThinItalic.ttf
packages/MaterialDesignThemes.3.1.3/build/Resources/Roboto/RobotoCondensed-Bold.ttf
packages/MaterialDesignThemes.3.1.3/build/Resources/Roboto/RobotoCondensed-BoldItalic.ttf
packages/MaterialDesignThemes.3.1.3/build/Resources/Roboto/RobotoCondensed-Italic.ttf
packages/MaterialDesignThemes.3.1.3/build/Resources/Roboto/RobotoCondensed-Light.ttf
packages/MaterialDesignThemes.3.1.3/build/Resources/Roboto/RobotoCondensed-LightItalic.ttf
packages/MaterialDesignThemes.3.1.3/build/Resources/Roboto/RobotoCondensed-Regular.ttf
packages/MaterialDesignThemes.3.1.3/images/MaterialDesignThemes.Icon.png
packages/MaterialDesignThemes.3.1.3/lib/net45/MaterialDesignThemes.Wpf.dll
packages/MaterialDesignThemes.3.1.3/lib/net45/MaterialDesignThemes.Wpf.pdb
packages/MaterialDesignThemes.3.1.3/lib/net45/MaterialDesignThemes.Wpf.xml
packages/MaterialDesignThemes.3.1.3/lib/netcoreapp3.1/MaterialDesignThemes.Wpf.dll
packages/MaterialDesignThemes.3.1.3/lib/netcoreapp3.1/MaterialDesignThemes.Wpf.pdb
packages/MaterialDesignThemes.3.1.3/lib/netcoreapp3.1/MaterialDesignThemes.Wpf.xml
packages/MaterialDesignThemes.3.1.3/MaterialDesignThemes.3.1.3.nupkg
packages/MaterialDesignThemes.3.1.3/tools/VisualStudioToolsManifest.xml
DebugTool/bin/Debug/app.publish/Xpath.exe
DebugTool/bin/Debug/MaterialDesignColors.dll
DebugTool/bin/Debug/MaterialDesignColors.pdb
DebugTool/bin/Debug/MaterialDesignThemes.Wpf.dll
DebugTool/bin/Debug/MaterialDesignThemes.Wpf.pdb
DebugTool/bin/Debug/MaterialDesignThemes.Wpf.xml
DebugTool/bin/Debug/Microsoft.mshtml.dll
DebugTool/bin/Debug/Xpath.application
DebugTool/bin/Debug/Xpath.exe
DebugTool/bin/Debug/Xpath.exe.config
DebugTool/bin/Debug/Xpath.exe.manifest
DebugTool/bin/Debug/Xpath.pdb
DebugTool/obj/Debug/.NETFramework,Version=v4.6.AssemblyAttributes.cs
DebugTool/obj/Debug/App.g.cs
DebugTool/obj/Debug/App.g.i.cs
DebugTool/obj/Debug/DebugTool.csproj.CopyComplete
DebugTool/obj/Debug/DebugTool.csproj.FileListAbsolute.txt
DebugTool/obj/Debug/DebugTool.csproj.GenerateResource.cache
DebugTool/obj/Debug/DebugTool.csproj.ResolveComReference.cache
DebugTool/obj/Debug/DebugTool.csprojAssemblyReference.cache
DebugTool/obj/Debug/DebugTool.Properties.Resources.resources
DebugTool/obj/Debug/DesignTimeResolveAssemblyReferences.cache
DebugTool/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DebugTool/obj/Debug/GeneratedInternalTypeHelper.g.cs
DebugTool/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
DebugTool/obj/Debug/InspectWindow.g.cs
DebugTool/obj/Debug/InspectWindow.g.i.cs
DebugTool/obj/Debug/Interop.SHDocVw.dll
DebugTool/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
DebugTool/obj/Debug/Xpath.application
DebugTool/obj/Debug/Xpath.exe
DebugTool/obj/Debug/Xpath.exe.manifest
DebugTool/obj/Debug/Xpath.g.resources
DebugTool/obj/Debug/Xpath.pdb
DebugTool/obj/Debug/Xpath_MarkupCompile.cache
DebugTool/obj/Debug/Xpath_MarkupCompile.i.cache
DebugTool/obj/Debug/Xpath_MarkupCompile.i.lref
DebugTool/obj/Debug/Xpath_MarkupCompile.lref
